* {
  box-sizing: border-box;
}

body {
  margin: 0;
  min-width: 992px;
  font-family: "Helvetica";
}

#top {
  height: 60px;
  line-height: 60px;
  padding: 0 30px;
}

#navbar {
  display: inline-block;
  float: right;
  list-style: none;
  padding-left: 0;
  vertical-align: middle;
  margin: 0;
}

#navbar li {
  float: right;
  display: inline-block;
}

#navbar li:not(:first-child) {
  margin-right: 30px;
}

#navbar li a {
  text-decoration: none;
  font-family: "Helvetica", serif;
  font-size: 13px;
  font-weight: bold;
  color: #545454;
}

.middle {
  text-align: center;
  display: inline-block;
}

.products {
  display: inline-block;
}

.products:not(:last-child) {
  margin-bottom: 80px;
}

/* products */
.goods {
  text-align: center;
  float: left;
}

.goods img {
  width: 225px;
  height: 225px;
}

.goods a {
  text-decoration: none;
  color: #545454;
}

.goods:not(:last-child) {
  margin-right: 20px;
}

.bottom {
  text-align: center;
  margin-bottom: 80px;
}

.bottom a {
  text-decoration: none;
}

.bottom a:not(:last-child) {
  margin-right: 20px;
}